@import "react-image-gallery/styles/css/image-gallery.css";

body {
  display: flex;
  justify-content: center;
  background-color: rgb(19, 19, 19);
}

.image-gallery-thumbnails-container {
  display: none;
}

.image-gallery-slides {
  margin-inline: 1em;
  border-radius: 15px;
}

.image-gallery-icon {
  margin-inline: 1em;
}
